# *** START section for manually edited lines

# 'captures' is a mandatory directory for this project,
#     but git can add only files, and can not add an empty directory.
# We want to preserve 'captures' in the repository tree structure,
#     so we will ignore everything except the 'captures/.gitignore' file.
#     This trick will always add the 'captures' directory in the repository,
#     even when there are no other files in 'captures'.
*
!.gitignore

# *** STOP section for manually edited lines
